:root {
	--main-color: #DB3022;
}

@font-face {
	font-family: 'Metropolis';
	src: url(../fonts/Metropolis-Regular.otf);
}
@font-face {
	font-family: 'Metropolis Bold';
	src: url(../fonts/Metropolis-Bold.otf);
}
@font-face {
	font-family: 'Metropolis Thin';
	src: url(../fonts/Metropolis-Thin.otf);
}

body {
	font-family: 'Metropolis';
	background-color: #FFFFFF;
}

a:hover {
	text-decoration: none;
}