@import './core.css';

.navbar {
	padding-top: 23px;
	padding-bottom: 23px;
	box-shadow: 0 -10px 30px 20px rgba(173, 173, 173, 0.25);
}

.navbar-brand img {
	width: 32px;
	height: 44px;
}

span.logo-text {
	color: var(--main-color);
	font-family: 'Metropolis Bold';
	font-size: 24px;
	font-weight: bold;
	position: relative;
	top: 10px;
	left: 4px;
}

.search-section-md {
	position: relative;
	width: 550px;
	height: 40px;
}

.search-input {
	width: 500px;
	height: 40px;
	border: 1px solid #8E8E93;
	border-radius: 23px;
	display: inline-block;
}
.search-input .cs-search {
	width: 451px;
	height: 38px;
	color: #9B9B9B;
	padding-left: 20px;
	font-size: 16px;
	border: none;
	border-radius: 23px;
}
.search-input .cs-search::placeholder {
	color: #8E8E93;
	font-size: 16px;
}
.search-input .search-icon {
	width: 42px;
	height: 40px;
	border-radius: 0 23px 23px 0;
	cursor: pointer;
	position: relative;
	left: -15px;
	top: -8px;
}
.search-input .search-icon img {
	position: relative;
	left: 20px;
	top: 7px;
}

.filter-button {
	margin-left: 5px;
	padding: 11px 10.5px;
	border: 1px solid #8E8E93;
	border-radius: 12px;
	cursor: pointer;
}

.cs-cart {
	margin-right: 15px;
}

.btn-auth {
	width: 100px;
	height: 36px;
	font-size: 14px;
	color: #9B9B9B;
	border: 1px solid #9B9B9B;
	border-radius: 25px;
	box-sizing: border-box;
	cursor: pointer;
	text-align: center;
	padding-top: 8px;
	margin-left: 15px;
}

.cs-btn-login {
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	color: white;
}

.cs-btn-group-small {
	width: 100px;
}
.cs-btn-auth {
	padding: 10px 0px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid var(--main-color);
	background-color: var(--main-color);
	border-radius: 12px;	
}

.cs-btn-auth .dropdown-menu {
	width: 252px;
}

.cs-btn-search .dropdown-menu {
	width: 300px;
}

.body-content {
	margin-top: 130px;
}

.cs-carousel-item {
	height: 180px;
	width: 450px;
	border: 0px;
	border-radius: 5px;
	text-align: center;
	background-position: -13px 0px;
}
.side-carousel {
	height: 180px;
	width: 69px;
	border-radius: 5px;
}
.cs-carousel-item span {
	color: #FFFFFF;
	font-family: 'Metropolis Bold';
	font-size: 38px;
	font-weight: bold;
	line-height: 190px;
}

@media screen and (min-width: 1px) and (max-width: 767.9px) {
	.search-section-sm {
		left: 10px;
		width: 500px;
	}
	.search-input {
		width: 430px;
	}
	.search-input .cs-search {
		width: 381px;
	}
	.cs-btn-search .dropdown-menu {
		width: 500px;
		padding-left: 9px;
	}

	.cs-btn-group-medium {
		display: none;
	}

	.search-section-md {
		display: none;
	}

	.cs-btn-group-small {
		width: 150px;
	}

	.cs-cart {
		margin-left: 26px;
	}

	.cs-btn-auth {
		padding: 8px;
		border: 1px solid var(--main-color);
		background-color: var(--main-color);
		border-radius: 12px;	
	}

	.cs-btn-search {
		width: 24px;
		height: 24px;
		margin-left: 10px;
		margin-right: 5px;
	}

	.cs-carousel-item {
		height: 180px;
		width: 100%;
	}
	.main-item {
		background-position: -10px 0px;
		background-size: cover;
	}
	.for-removed-1 {
		display: none;
	}
	.for-removed-2 {
		display: none;
	}
}

@media screen and (max-width: 575px) {
	.search-section-sm {
		left: 10px;
		width: 350px;
		height: 32px;
	}
	.search-input {
		width: 280px;
		height: 32px;
	}
	.search-input .cs-search {
		width: 231px;
		height: 30px;
	}
	.cs-btn-search .dropdown-menu {
		width: 350px;
		padding-left: 9px;
	}
}

@media screen and (max-width: 425px) {
	.navbar {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.navbar-brand img {
		width: 26px;
		height: 38px;
	}
	span.logo-text {
		font-size: 20px;
		top: 8px;
		left: 2px;
	}

	.cs-btn-auth .dropdown-menu {
		width: 210px;
	}

	.btn-auth {
		width: 80px;
		height: 32px;
		font-size: 12px;
		padding-top: 6px;
	}

	.search-section-sm {
		left: 10px;
		width: 280px;
		height: 32px;
	}
	.search-input {
		width: 210px;
		height: 32px;
	}
	.search-input .cs-search {
		width: 161px;
		height: 30px;
	}
	.search-input .search-icon {
		height: 30px;
		margin-top: 1px;
	}
	.search-input .search-icon img {
		height: 16px;
		width: 16px;
		position: relative;
		left: 20px;
		top: 7px;
	}
	.cs-btn-search .dropdown-menu {
		width: 280px;
		padding-left: 9px;
	}
	
	.cs-btn-search .filter-button {
		margin-left: 5px;
		padding: 8px 7.5px;
		border: 1px solid #8E8E93;
		border-radius: 12px;
		cursor: pointer;
	}
	.cs-btn-search .filter-button img {
		width: 16px;
		height: 15px;
	}

	.cs-cart {
		height: 20px;
		width: 20px;
		margin-left: 15px;
		margin-right: 14px;
	}

	.cs-btn-group-small {
		width: 130px;
	}

	.cs-btn-search {
		margin-right: 0px;
		margin-top: 6px;
	}
	.cs-btn-search img {
		width: 20px;
		height: 20px;
		margin-right: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.search-section-md {
		left: 10px;
		width: 380px;
	}
	.search-input {
		width: 325px;
	}
	.search-input .cs-search {
		width: 276px;
	}
	
	.cs-btn-group-small {
		width: 100px;
	}
	.cs-btn-group-small .cs-btn-search {
		display: none;
	}
	.cs-btn-group-medium {
		display: none;
	}

	.cs-btn-login {
		display: inline;
	}
	.cs-btn-signup {
		display: inline;
	}
	
	/* .main-item-carousel {
		padding-left: 80px;
	} */
	.for-removed-1 {
		display: none;
	}
	.for-removed-2 {
		display: block;
	}
	.side-right {
		float: right;
	}
}

@media screen and (min-width: 991.99px) and (max-width: 1199px) {
	.search-section-md {
		left: 10px;
		width: 400px;
	}
	.search-input {
		width: 330px;
	}
	.search-input .cs-search {
		width: 281px;
	}

	.cs-btn-group-small {
		display: none;
	}

	.cs-cart {
		padding-left: -5px;
	}

	.for-removed-2 {
		display: none;
	}
}

@media (min-width: 1200px) {
	.cs-btn-group-small {
		display: none;
	}

	.cs-btn-group-medium {
		display: block;
	}

}